<a href="https://colab.research.google.com/github/Adisriman/AlexandriaRepo/blob/master/Decision_tree.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn import linear_model
from google.colab import files
uploaded=files.upload()

Saving tree.csv to tree.csv

In [7]:
import io
df=pd.read_csv(io.StringIO(uploaded['tree.csv'].decode('utf-8')))
df.print(df)

AttributeError: ignored

In [8]:
inputs =df.drop('salary_more_than_100k',axis='columns')
inputs

   company               job     degree
0    Tesla               job  bachelors
1   Toyota        supervisor    masters
2   Nissan  sales excecutive  bachelors
3    Tesla          engineer  bachelors
4    Tesla          engineer  bachelors
5    Tesla  sales excecutive    masters
6    Tesla          engineer    masters
7    Tesla        supervisor  bachelors
8    Tesla        supervisor    masters
9   Nissan  sales excecutive  bachelors
10  Nissan  sales excecutive    masters
11  Nissan          engineer    masters
12  Nissan        supervisor  bachelors
13  Nissan        supervisor    masters
14  Toyota  sales excecutive  bachelors
15  Toyota        supervisor    masters
16  Toyota        supervisor  bachelors
17  Toyota          engineer  bachelors
18  Toyota          engineer    masters

In [9]:
target=df['salary_more_than_100k']
target

0     1
1     1
2     1
3     1
4     0
5     1
6     1
7     0
8     1
9     0
10    0
11    1
12    0
13    0
14    0
15    1
16    1
17    1
18    1
Name: salary_more_than_100k, dtype: int64

In [0]:
from sklearn.preprocessing import LabelEncoder
le_company=LabelEncoder()
le_job=LabelEncoder()
le_degree=LabelEncoder()

In [0]:
inputs['company_n']=le_company.fit_transform(inputs['company'])
inputs['job_n']=le_job.fit_transform(inputs['job'])
inputs['degree_n']=le_degree.fit_transform(inputs['degree'])

In [13]:
inputs

   company               job     degree  company_n  job_n  degree_n
0    Tesla               job  bachelors          1      1         0
1   Toyota        supervisor    masters          2      3         1
2   Nissan  sales excecutive  bachelors          0      2         0
3    Tesla          engineer  bachelors          1      0         0
4    Tesla          engineer  bachelors          1      0         0
5    Tesla  sales excecutive    masters          1      2         1
6    Tesla          engineer    masters          1      0         1
7    Tesla        supervisor  bachelors          1      3         0
8    Tesla        supervisor    masters          1      3         1
9   Nissan  sales excecutive  bachelors          0      2         0
10  Nissan  sales excecutive    masters          0      2         1
11  Nissan          engineer    masters          0      0         1
12  Nissan        supervisor  bachelors          0      3         0
13  Nissan        supervisor    masters          0      3         1
14  Toyota  sales excecutive  bachelors          2      2         0
15  Toyota        supervisor    masters          2      3         1
16  Toyota        supervisor  bachelors          2      3         0
17  Toyota          engineer  bachelors          2      0         0
18  Toyota          engineer    masters          2      0         1

In [0]:
inputs_n=inputs.drop(['company','job','degree'],axis='columns')

In [15]:
inputs_n

    company_n  job_n  degree_n
0           1      1         0
1           2      3         1
2           0      2         0
3           1      0         0
4           1      0         0
5           1      2         1
6           1      0         1
7           1      3         0
8           1      3         1
9           0      2         0
10          0      2         1
11          0      0         1
12          0      3         0
13          0      3         1
14          2      2         0
15          2      3         1
16          2      3         0
17          2      0         0
18          2      0         1

In [16]:
target

0     1
1     1
2     1
3     1
4     0
5     1
6     1
7     0
8     1
9     0
10    0
11    1
12    0
13    0
14    0
15    1
16    1
17    1
18    1
Name: salary_more_than_100k, dtype: int64

In [0]:
from sklearn import tree
model=tree.DecisionTreeClassifier()

In [21]:
model.fit(inputs_n,target)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [22]:
model.score(inputs_n,target)

0.8947368421052632

In [28]:
model.predict([[1,3,1]])

array([1])